@inject NavigationManager _navigationManager
@inject IAuthService userService

@rendermode InteractiveServer

<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
        <RadzenSidebarToggle Click="OnSidebarToggle" />
        <RadzenLabel Text="Admin Paneli" />
        <!-- Spacer element -->
        <div style="flex-grow: 1;"></div>

    </RadzenStack>
</RadzenHeader>

@code {
    [Parameter]
    public bool sidebarExpanded { get; set; }

    [Parameter]
    public EventCallback OnSidebarToggle { get; set; }

    private void Logout()
    {
        _navigationManager.NavigateTo("/");
    }
}