<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layouts.Home.HomeLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Bulunamadı</PageTitle>
        <LayoutView Layout="@typeof(Layouts.Home.HomeLayout)">
            <p role="alert">Üzgünüz, bu adreste hiçbir şey yok.</p>
        </LayoutView>
    </NotFound>
</Router>
